# 1- Selecionar base de dados

In [1]:
import pandas as pd
df = pd.read_csv('Dados-Abertos.csv', encoding='ISO-8859-1', sep=';')

df.head()

,Nome Ente,UF,Código Siafi,Código IBGE,Data,Ano,Mês,Tipo Ente,OB,CNPJ do Favorecido,Nome Favorecido,Nome Emenda,Transferência Especial,Categoria Econômica Despesa,Valor
0,Nova Santa Rosa,PR,7979,4117222,42005,2015,janeiro,Município,135098000012015OB800001,77116663000109,MUNICIPIO DE NOVA SANTA ROSA,Emenda Individual,Não,DESPESAS DE CAPITAL,243750
1,Humaitá,RS,8695,4309704,42005,2015,janeiro,Município,135098000012015OB800002,87613139000199,MUNICIPIO DE HUMAITA,Emenda Individual,Não,DESPESAS DE CAPITAL,144300
2,Nova Venécia,ES,5677,3203908,42005,2015,janeiro,Município,135098000012015OB800003,27167428000180,MUNICIPIO DE NOVA VENECIA,Emenda Individual,Não,DESPESAS DE CAPITAL,97500
3,Gravatal,SC,8121,4206207,42005,2015,janeiro,Município,135098000012015OB800004,82926569000147,MUNICIPIO DE GRAVATAL,Emenda Individual,Não,DESPESAS DE CAPITAL,195000
4,Passo de Torres,SC,5541,4212254,42005,2015,janeiro,Município,135098000012015OB800005,95782793000154,MUNICIPIO DE PASSO DE TORRES,Emenda Individual,Não,DESPESAS DE CAPITAL,97500

In [2]:
df['Valor'] = pd.to_numeric(df['Valor'], errors='coerce')
print(df['Valor'].dtypes)

float64

In [5]:
# Calculando os quartis para uma coluna específica
quartis = df['Valor'].quantile([0.25, 0.5, 0.75])

# Imprimindo os quartis
print(quartis)

0.25    100000.0
0.50    181160.0
0.75    300000.0
Name: Valor, dtype: float64

# 2- Apresentar um relatório descritivo, quantidade de registros, valores faltando, linhas duplicadas e valores sujos

In [4]:
quantidade_registros = len(df)
print("Quantidade de registros:", quantidade_registros)

Quantidade de registros: 272076

In [5]:
valores_faltando_por_coluna = df.isna().sum()
print(valores_faltando_por_coluna)

Nome Ente                          0
UF                                 0
Código Siafi                       0
Código IBGE                        0
Data                               0
Ano                                0
Mês                                0
Tipo Ente                          0
OB                                 0
CNPJ do Favorecido                 0
Nome Favorecido                    0
Nome Emenda                        0
Transferência Especial             0
Categoria Econômica Despesa        0
Valor                          41083
dtype: int64

In [6]:
quantidade_duplicatas = df.duplicated().sum()

print("Quantidade de linhas duplicadas:", quantidade_duplicatas)

Quantidade de linhas duplicadas: 6201

In [7]:
quantidade_valores_sujos_por_coluna = df.isnull().sum()

print("Quantidade de valores sujos por coluna:")
print(quantidade_valores_sujos_por_coluna)

Quantidade de valores sujos por coluna:
Nome Ente                          0
UF                                 0
Código Siafi                       0
Código IBGE                        0
Data                               0
Ano                                0
Mês                                0
Tipo Ente                          0
OB                                 0
CNPJ do Favorecido                 0
Nome Favorecido                    0
Nome Emenda                        0
Transferência Especial             0
Categoria Econômica Despesa        0
Valor                          41083
dtype: int64

In [7]:
df = df.dropna(subset=['Valor'])

valores_faltando_por_coluna = df.isna().sum()
print(valores_faltando_por_coluna)

Nome Ente                      0
UF                             0
Código Siafi                   0
Código IBGE                    0
Data                           0
Ano                            0
Mês                            0
Tipo Ente                      0
OB                             0
CNPJ do Favorecido             0
Nome Favorecido                0
Nome Emenda                    0
Transferência Especial         0
Categoria Econômica Despesa    0
Valor                          0
dtype: int64

In [8]:
quantidade_registros = len(df)
print("Quantidade de registros:", quantidade_registros)

Quantidade de registros: 230993

# 2.1 Categorizando algumas colunas utilizando a norma Codificação Ordinal e retirando colunas que não serão necessárias no teste

In [8]:
print(df['Mês'].unique())

['janeiro' 'fevereiro' 'março' 'abril' 'maio' 'junho' 'julho' 'agosto'
 'setembro' 'outubro' 'novembro' 'dezembro']

In [9]:
print(df['Tipo Ente'].unique())

['Município' 'Estado']

In [10]:
print(df['Nome Emenda'].unique())

['Emenda Individual' 'Emenda de Bancada']

In [11]:
print(df['Transferência Especial'].unique())

['Não' 'Sim']

In [12]:
print(df['Categoria Econômica Despesa'].unique())

['DESPESAS DE CAPITAL' 'DESPESAS CORRENTES']

In [9]:
# Mapeamento de meses para valores ordinais
meses_para_ordinal = {
    'janeiro': 1, 'fevereiro': 2, 'março': 3, 'abril': 4,
    'maio': 5, 'junho': 6, 'julho': 7, 'agosto': 8,
    'setembro': 9, 'outubro': 10, 'novembro': 11, 'dezembro': 12
}

# Aplicando a codificação ordinal
df['Mês'] = df['Mês'].map(meses_para_ordinal)

print(df['Mês'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [10]:
tipo_ente_ordinal = {
    'Município': 0, 'Estado': 1
}

df['Tipo Ente'] = df['Tipo Ente'].map(tipo_ente_ordinal)

print(df['Tipo Ente'].unique())

[0 1]

In [11]:
nome_emenda_ordinal = {
    'Emenda Individual': 0, 'Emenda de Bancada': 1
}

df['Nome Emenda'] = df['Nome Emenda'].map(nome_emenda_ordinal)

print(df['Nome Emenda'].unique())

[0 1]

In [12]:
mapeamento = {'Não': 0, 'Sim': 1}

df['Transferência Especial'] = df['Transferência Especial'].map(mapeamento)

print(df['Transferência Especial'].unique())

[0 1]

In [13]:
mapeamento = {
    'DESPESAS DE CAPITAL': 0,
    'DESPESAS CORRENTES': 1
}

df['Categoria Econômica Despesa'] = df['Categoria Econômica Despesa'].map(mapeamento)

print(df['Categoria Econômica Despesa'].unique())

[0 1]

In [14]:
df = df.drop(['Nome Ente', 'UF', 'Código Siafi', 'Código IBGE', 'Data', 'OB', 'CNPJ do Favorecido', 'Nome Favorecido'], axis=1)

In [15]:
df.head()

,Ano,Mês,Tipo Ente,Nome Emenda,Transferência Especial,Categoria Econômica Despesa,Valor
0,2015,1,0,0,0,0,243750.0
1,2015,1,0,0,0,0,144300.0
2,2015,1,0,0,0,0,97500.0
3,2015,1,0,0,0,0,195000.0
4,2015,1,0,0,0,0,97500.0

# 3- Selecionar 10 algoritmos de classificação

In [16]:
# Importando o módulo de classificação
from pycaret.classification import *

# A função setup inicializa o ambiente no pycaret e prepara os dados para modelagem
setup_data = setup(data=df, target='Transferência Especial', session_id=1)

# Comparando os modelos
best_model = compare_models(sort='F1', n_select=1)  # 'sort' define o critério de comparação, 'F1' para F1-measure

print(best_model)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=1, reg_alpha=0.0, reg_lambda=0.0, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)

# 4- A melhor média F1, veio do algoritmo Light Gradient Boosting Machine

# 5- Treinando a base com algoritmo Light Gradient Boosting Machine e testando uma nova entrada para predição

In [17]:
import lightgbm as lgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score

X = df.drop('Transferência Especial', axis=1) 
y = df['Transferência Especial']

# Dividir os dados em treinamento e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Configurar o modelo
model = lgb.LGBMClassifier(
    num_leaves=31,             # Número de folhas na árvore
    max_depth=-1,              # Profundidade máxima das árvores, -1 significa sem limite
    learning_rate=0.1,         # Taxa de aprendizado
    n_estimators=100           # Número de árvores a serem construídas
)

# Treinar o modelo
model.fit(X_train, y_train)

# Fazer previsões
y_pred = model.predict(X_test)

# Avaliar o modelo
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 20284, number of negative: 164510
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003793 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 285
[LightGBM] [Info] Number of data points in the train set: 184794, number of used features: 6
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.109765 -> initscore=-2.093139
[LightGBM] [Info] Start training from score -2.093139
Accuracy: 0.9801943765016559
              precision    recall  f1-score   support

           0       0.99      0.99      0.99     41141
           1       0.91      0.91      0.91      5058

    accuracy                           0.98     46199
   macro avg       0.95      0.95      0.95     46199
weighted avg       0.98      0.98      0.98     46199

In [26]:
import numpy as np

novo_dado = [2021, 8, 1, 0, 0, 450000]
novo_dado_reshaped = np.array([novo_dado])  # Adiciona uma nova dimensão para formar um array 2D
new_predictions = model.predict(novo_dado_reshaped)

print("Predição:", new_predictions)

Predição: [1]